body {
  font-family: Arial;
  text-align: center;
  background: #f7efe9;
  margin: 0;
}

.container {
  padding: 40px;
}

button {
  background: #c66b3d;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

.progress {
  width: 80%;
  height: 10px;
  background: #eee;
  margin: 20px auto;
}

#progressBar {
  width: 0%;
  height: 100%;
  background: #c66b3d;
}

.hidden {
  display: none;
}
